# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files to be normalized
*.js text
*.jsx text
*.ts text
*.tsx text
*.html text
*.css text
*.json text