name: Verify Frontend

on:
  workflow_call:
    inputs:
      frontend:
        required: true
        type: string

jobs:
  frontend:
    if: inputs.frontend == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: '0'
      
      - name: Build Frontend (composite)
        uses: ./.github/actions/build-frontend
        with:
          run-tests: 'true'
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Wait for SonarCloud Quality Gate
        uses: sonarsource/sonarqube-quality-gate-action@master
        timeout-minutes: 5
        with:
          scanMetadataReportFile: ./Lighthouse.Frontend/.scannerwork/report-task.txt
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}