name: Verify Frontend

on:
  workflow_call:
    inputs:
      frontend:
        required: true
        type: string

jobs:
  frontend:
    if: inputs.frontend == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: '0'
      
      - name: Build Frontend (composite)
        uses: ./.github/actions/build-frontend
        with:
          run-tests: 'true'
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}