name: Package App

on:
  workflow_call:
    inputs:
      fileversion:
        required: true
        type: string
      version:
        required: true
        type: string
      dotnet_version:
        required: false
        type: string
        default: '10'

jobs:
  packageapp:
    runs-on: ubuntu-latest
    permissions:
      actions: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: '0'
        
      - name: Package App (composite)
        uses: ./.github/actions/package-app
        with:
          fileversion: ${{ inputs.fileversion }}
          version: ${{ inputs.version }}