name: Tag

on:
  workflow_call:
    outputs:
      created:
        value: ${{ jobs.tag.outputs.created }}
      version:
        value: ${{ jobs.tag.outputs.version }}
      fileversion:
        value: ${{ jobs.tag.outputs.fileversion }}

jobs:
  tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    concurrency:
      group: tag-${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: false

    outputs:
      created: ${{ steps.version.outputs.created }}
      version: ${{ steps.version.outputs.version }}
      fileversion: ${{ steps.process_version.outputs.fileversion }}

    steps:          
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: '0'
      
      - name: Set version based on branch
        id: set_version
        run: |
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            echo "Running on main branch, creating tag if necessary"
            echo "create_tag=true" >> $GITHUB_ENV
          else
            echo "Not on main branch, setting version to current build number"
            echo "version=${{ github.run_number }}" >> $GITHUB_ENV
            echo "create_tag=false" >> $GITHUB_ENV
          fi

      - name: Create tag if necessary
        if: env.create_tag == 'true'
        id: version
        uses: fregante/daily-version-action@v2
        with:
          prefix: v

      - name: Process version to create fileversion
        id: process_version
        run: |
          if [ "${{ env.create_tag }}" == "true" ]; then
            version=${{ steps.version.outputs.version }}
          else
            version=${{ env.version }}
          fi
          # Remove the prefix 'v' from the version string if it exists
          fileversion=${version#v}
          # Output the processed fileversion
          echo "fileversion=$fileversion" >> $GITHUB_ENV
          echo "fileversion=$fileversion" >> $GITHUB_OUTPUT